<div class="row">
  <div class="col-md-4 col-md-offset-5">
    <div class="panel panel-primary">
      <div class="panel-heading">
        Please enter the room number of the guest.
      </div>
      <div class="panel-body">
        <%= form_for [:admin, @order], url: complete_admin_room_service_order_url(@order) do |f| %>
            <div class="form-group">
              <%= f.fields_for :reservation do |ff| %>
                  <%= ff.label :room_number, 'Room Number' %>
                  <%= ff.text_field :room_number, class: 'form-control' %>
              <% end %>
            </div>
            <%= f.submit 'Save Room Number', class: 'btn btn-primary' %>
            <%= link_to 'Cancel', admin_orders_path, class: 'btn btn-link' %>
        <% end %>
      </div>
    </div>
  </div>
</div>