<div class="row">
  <div class="col-md-4 col-md-offset-5">
    <div class="panel panel-primary">
      <div class="panel-heading">
        Please select the file from your computer
      </div>
      <div class="panel-body">
        <%= form_tag(admin_reservation_import_path, method: :post, multipart: true) do %>
            <div class="form-group">
              <%= label_tag :file, 'Arrivals File' %>
              <%= file_field_tag :file, class: 'form-control' %>
            </div>
            <%= submit_tag('Import Reservations', class: 'btn btn-primary') %>
            <%= link_to 'Cancel', admin_reservations_path, class: 'btn btn-link' %>
        <% end %>
      </div>
    </div>
  </div>
</div>